<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Albums</title>
  </head>
  <body>
    <form class="form" method = "post" action="/favorite_albums">
      <div class="form-group">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="artist" placeholder="artist">
        <input type="text" name="img" placeholder="link to image">
      </div>
    </form>
  </body>
</html>
